meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
title reveal.js
link(rel="stylesheet", href='lib/css/index.css')
script.
  window.addEventListener('load', function() {
    const script = document.createElement('script')
    script.setAttribute('src', '//localhost:35729/livereload.js?&host=localhost&snipver=1')
    document.head.appendChild(script)
  })
script(async src='//assets.codepen.io/assets/embed/ei.js')
script(src='lib/js/specificity-graph-standalone.js')
script(src='lib/js/index.js')
mixin codepen(id)
  - attributes['data-user'] = attributes['data-user'] || "mistersender"
  p(
    data-height="500"
    data-theme-id="0"
    data-slug-hash="#{id}"
    data-default-tab="css"
    data-user="tjbenton21"
    data-embed-version="2"
    class="codepen"
  )&attributes(attributes)
    | See the Pen <a href="http://codepen.io/#{attributes.data-user}/pen/#{id}/">Sample Website Theme using color functions</a> by Jessica Kennedy (<a href="http://codepen.io/mistersender">@mistersender</a>) on <a href="http://codepen.io">CodePen</a>.